<!-- Header -->
<header id="header">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-3">
        <a href="{{ "" | absolute_url }}/" class="logo">
          <img src="{{ "images/svg/logo.svg" | relative_url }}" alt="">
        </a>
      </div>


      <div class="col-md-8 col-9 menucontainer">
        <!-- Menu -->
        <nav class="menu top-50">
          <ul class="links">
            {% for page in site.pages %}
              {% if page.layout == "home" %}
                  <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            {% for page in site.html_pages %}
              {% if page.layout != "home" and page.nav-menu == true %}
                  <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>

    </div>
  </div>

</header>