$color-primary:                 #397D81;
$color-secondary:               #222;
$color-tertiary:                #222;
$white:                         #fff;
$black:                         #000;

$darker-gray:                   #111;
$dark-gray:                     #222; 
$gray:                          #444; 
$light-gray:                    #666;
$lighter-gray:                  #d6d6d6;
$lightest-gray:                 #eee;

$link-color:                    $color-primary;

$font-family-sans-serif:        'Raleway', sans-serif;
$font-family-serif:             'Lora', serif;